---
import * as icons from './techIcons.js';
import ProjectCard from './ProjectCard.astro';
import TFG from '../assets/images/3dworld.png';
import IconGame from '../assets/images/androidgame.png';
import { isAstroComponentInstance } from 'astro/runtime/server/render/astro/instance.js';
---
<div class="flex flex-col items-center">
  <h2 class="text-4xl font-bold mb-6">Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mx-20 mb-10">

    <!--Proyecto TFG 3dWorld -->
    <ProjectCard>
      <span slot="image">
        <img src={TFG.src} alt="Imagen del proyecto" class="mb-2 rounded" />
      </span>
      <span slot="title">3dWorld</span>
      <span slot="description">
        Web app developed as a Final Degree Project for the comprehensive 
        management of resources related to 3D printing within a business environment.
      </span>

      <span slot="skills" class="w-10 h-10">
        <span set:html={icons.laravel} />
      </span>
     
      <span slot="skills" class="w-10 h-10">
        <span set:html={icons.tailwind} />
      </span>
            <span slot="skills" class="w-10 h-10">
        <span set:html={icons.mysql} />
      </span>
      <span slot="skills" class="w-10 h-10">
        <span set:html={icons.vite} />
      </span>
      <span slot="links">
        <a href="https://github.com/antoniocastillo-08/3dWorld" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">Ver Proyecto</a>
      </span>
    </ProjectCard>


    <ProjectCard>
      
      <span slot="title">EventsApp</span>
      <span slot="description">Web application developed for event management. 
        Allows users to register, create events, sign up, and manage them from an intuitive panel. 
        Uses the MVC pattern, user authentication, and Eloquent relationships.
      </span>
      <span slot="skills" class="w-10 h-10">
        <span set:html={icons.laravel} />
      </span>
      <span slot="skills" class="w-10 h-10">
        <span set:html={icons.mysql} />
      </span>
      <span slot="links">
        <a href="https://github.com/antoniocastillo-08/EventosAppRepo" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">Ver Proyecto</a>
      </span>
    </ProjectCard>

    <ProjectCard>
      
      <span slot="title">Portfolio Website</span>
      <span slot="description">Portfolio website developed with Astro, showcasing my projects and skills.</span>
      
   
      <span slot="skills" class="w-10 h-10">
        <span set:html={icons.tailwind} />
      </span>
      
      <span slot="links">
        <a href="#" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">Ver Proyecto</a>
      </span>
    </ProjectCard>


    <ProjectCard>
      <span slot="title">Microservices- Hotel Booking Website </span>
      <span slot="description">Practicing microservices with Springboot and developed with IntelliJ.</span>
      
      <span slot="skills" class="w-10 h-10">
        <span set:html={icons.java} />
      </span>
      <span slot="links">
        <a href="https://github.com/antoniocastillo-08/PSPMicroservicios-ProyectoFinalReservas" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">Ver Proyecto</a>
      </span>
    </ProjectCard>

    <ProjectCard>
      <span slot="title">Odoo Module - Library management</span>
      <span slot="description">Module created for Odoo to allow libraries to manage the stock available and booking</span>
      
      <span slot="skills" class="w-10 h-10">
        <span set:html={icons.python} />
      </span>
      
      <span slot="links">
        <a href="https://github.com/antoniocastillo-08/library_management" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">Ver Proyecto</a>
      </span>
      
    </ProjectCard>
    <ProjectCard>
      <span slot="image">
        <img src={IconGame.src} alt="Imagen del proyecto" class="mb-2 rounded" />
      </span>
      <span slot="title">Android Studio Game </span>
      <span slot="description">Platform game developed in AndroidStudio with Java</span>
      
      <span slot="skills" class="w-10 h-10">
        <span set:html={icons.android} />
      </span>
      <span slot="skills" class="w-10 h-10">
        <span set:html={icons.java} />
      </span>
      
      <span slot="links">
        <a href="https://github.com/antoniocastillo-08/AndroidStudioGame" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">Ver Proyecto</a>
      </span>

    </ProjectCard>
  </div>
</div>