---
import * as icons from './techIcons.js';
import ProjectCard from './ProjectCard.astro';
import TFG from '../assets/images/3dworld.png';
import { isAstroComponentInstance } from 'astro/runtime/server/render/astro/instance.js';
---
<div class="flex flex-col items-center">
  <h2 class="text-4xl font-bold mb-6">Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mx-20">

    <!--Proyecto TFG 3dWorld -->
    <ProjectCard>
      <span slot="image">
        <img src={TFG.src} alt="Imagen del proyecto" class="mb-2 rounded" />
      </span>
      <span slot="title">3dWorld</span>
      <span slot="description">Aplicación web desarrollada como 
        Trabajo de Fin de Grado para la gestión integral de recursos 
        relacionados con la impresión 3D dentro de un entorno empresarial. 
      </span>

      <span slot="skills">
        <span set:html={icons.laravel} />
      </span>
     
      <span slot="skills">
        <span set:html={icons.tailwind} />
      </span>
            <span slot="skills">
        <span set:html={icons.mysql} />
      </span>
      </span>
            <span slot="skills">
        <span set:html={icons.vite} />
      </span>
      
    </ProjectCard>


    <ProjectCard>
      <span slot="image">
        <img src="https://via.placeholder.com/150" alt="Imagen del proyecto" class="mb-2 rounded" />
      </span>
      <span slot="title">Otro Proyecto</span>
      <span slot="description">Descripción breve del proyecto.</span>
      <span slot="links">
        <a href="#" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">Ver Proyecto</a>
      </span>
    </ProjectCard>

    <ProjectCard>
      <span slot="image">
        <img src="https://via.placeholder.com/150" alt="Imagen del proyecto" class="mb-2 rounded" />
      </span>
      <span slot="title">Tercer Proyecto</span>
      <span slot="description">Descripción breve del tercer proyecto.</span>
      <span slot="links">
        <a href="#" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">Ver Proyecto</a>
      </span>
    </ProjectCard>

    <ProjectCard>
      <span slot="image">
        <img src="https://via.placeholder.com/150" alt="Imagen del proyecto" class="mb-2 rounded" />
      </span>
      <span slot="title">Cuarto Proyecto</span>
      <span slot="description">Descripción breve del cuarto proyecto.</span>
      <span slot="links">
        <a href="#" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">Ver Proyecto</a>
      </span>
    </ProjectCard>

    
  </div>
</div>